.modal__wrapper {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;

    display: none;

    background-color: rgba(0, 0, 0, 0.25);
}

.modal__wrapper.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainModal {
    width: 600px;
    display: flex;
    flex-direction: column;

    background: #fff;
    border-radius: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;

    border-radius: 10px 10px 0 0;
    background: #eee;
}

.body {
    margin: 1rem;
    display: flex;
    flex-direction: column;
}

.footer {
    display: flex;
}
