.logo {
    width: 70px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #000;
    background: linear-gradient(65.67deg, #1488cc 0.4%, #2b32b2 100.4%);
    border-radius: 10px;

    font-weight: 800;
    font-size: 24px;
    color: #fff;
}
